body {
  background-image: linear-gradient(to right, #12071b, #3c0535);
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0);
}

button {
  /* background-color: rgba(0, 0, 0, 0); */
}

#visualization {
  width: 100%;
  height: 140%;
}

 /* The Modal (background) */
.modal {
  /*display: none; /* Hidden by default */
  /*position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* left: 0;
  top: 0; */
  /*width: 100%; /* Full width */
  /*height: 100%; /* Full height */
  /*overflow: auto; /* Enable scroll if needed */
  /*background-color: rgb(0,0,0); /* Fallback color */
  /*background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  /* background-color: #fefefe; */
  background-image: linear-gradient(to right, rgba(18, 7, 27, 0.9), rgba(60, 5, 53, 0.9));
  margin: 28% auto; /* 15% from the top and centered */
  /* padding: 20px; */
  /* border: 1px solid #888; */
  /*width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* color: #aaa; */
  /* float: right; */
  /* font-size: 28px; */
  /* font-weight: bold; */
}

.close:hover,
.close:focus {
  /* color: black; */
  /* text-decoration: none; */
  /* cursor: pointer; */
} 

.robotoMono {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}

.robotoCondensed {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

.robotoCondensedBold {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}